In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NFA2018.csv')

In [3]:
df.head()

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,Percapita GDP (2010 USD),population
0,Armenia,ARM,Asia,Western Asia,1992,BiocapPerCap,1.611286e-01,0.135023,0.083836,0.013718,0.033669,0.000000e+00,4.273741e-01,949.033,3449000
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.337400,289190.662300,47320.224590,116139.598200,0.000000e+00,1.474227e+06,949.033,3449000
2,Armenia,ARM,Asia,Western Asia,1992,EFConsPerCap,3.909225e-01,0.189137,0.000001,0.004138,0.033669,1.112225e+00,1.730092e+00,949.033,3449000
3,Armenia,ARM,Asia,Western Asia,1992,EFConsTotGHA,1.348487e+06,652429.066600,4.327841,14272.803690,116139.598200,3.836620e+06,5.967954e+06,949.033,3449000
4,Armenia,ARM,Asia,Western Asia,1992,EFExportsPerCap,1.124910e-03,0.002283,0.000000,0.000438,0.000000,4.819043e-02,5.203676e-02,949.033,3449000

In [4]:
df.columns

Index(['country', 'ISO alpha-3 code', 'UN_region', 'UN_subregion', 'year',
       'record', 'crop_land', 'grazing_land', 'forest_land', 'fishing_ground',
       'built_up_land', 'carbon', 'total', 'Percapita GDP (2010 USD)',
       'population'],
      dtype='object')

In [5]:
df.drop(['ISO alpha-3 code', 'UN_region', 'UN_subregion', 
       'record', 'crop_land', 'grazing_land', 'forest_land', 'fishing_ground',
       'built_up_land', 'carbon', 'total'], inplace=True, axis=1)

In [6]:
df.head()

   country  year  Percapita GDP (2010 USD)  population
0  Armenia  1992                   949.033     3449000
1  Armenia  1992                   949.033     3449000
2  Armenia  1992                   949.033     3449000
3  Armenia  1992                   949.033     3449000
4  Armenia  1992                   949.033     3449000

In [7]:
df.sample(5)

            country  year  Percapita GDP (2010 USD)  population
14335         Chile  1965                  4089.780     8612000
45684        Malawi  1975                   374.134     5293000
5375       Barbados  1983                       NaN      255000
69092  South Africa  2000                  5946.000    44897000
18611         Benin  1963                   519.131     2543000

In [8]:
df['GDP'] = df['Percapita GDP (2010 USD)']

In [9]:
df.drop(['Percapita GDP (2010 USD)'], inplace=True, axis=1)

In [10]:
df.head()

   country  year  population      GDP
0  Armenia  1992     3449000  949.033
1  Armenia  1992     3449000  949.033
2  Armenia  1992     3449000  949.033
3  Armenia  1992     3449000  949.033
4  Armenia  1992     3449000  949.033

In [11]:
df.tail()

          country  year  population      GDP
87015  Luxembourg  1999      446000  87516.4
87016  Luxembourg  1999      446000  87516.4
87017  Luxembourg  1999      446000  87516.4
87018  Luxembourg  1999      446000  87516.4
87019  Luxembourg  1999      446000  87516.4

In [12]:
# df.drop_duplicates(subset='country', inplace=True) ----- doesn't work right

In [13]:
# gets rid of the 9 duplicate entries
empty=[]
for i in df.index:
    if i % 10 == 0:
        empty.append(df.loc[i])
        i+=1

In [14]:
empty[:2]

[country       Armenia
 year             1992
 population    3449000
 GDP           949.033
 Name: 0, dtype: object, country       Armenia
 year             1993
 population    3370000
 GDP           886.033
 Name: 10, dtype: object]

In [15]:
test = pd.DataFrame(empty)

In [16]:
test['country'].count()

8702

In [17]:
countryMatchNFA = test['country'].unique()

In [18]:
for i in countryMatchNFA:
    if ' ' in i:
        print(i)

Antigua and Barbuda
Brunei Darussalam
Cabo Verde
Cayman Islands
Central African Republic
Sri Lanka
Cook Islands
Costa Rica
Dominican Republic
El Salvador
Equatorial Guinea
Ethiopia PDR
French Guiana
French Polynesia
Bosnia and Herzegovina
Iran, Islamic Republic of
CÃ´te d'Ivoire
Korea, Democratic People's Republic of
Korea, Republic of
Lao People's Democratic Republic
Libyan Arab Jamahiriya
Micronesia, Federated States of
Macedonia TFYR
New Zealand
Czech Republic
Papua New Guinea
Russian Federation
Serbia and Montenegro
Saint Lucia
Sao Tome and Principe
Saudi Arabia
Sierra Leone
South Africa
Sudan (former)
Syrian Arab Republic
Tanzania, United Republic of
Trinidad and Tobago
United Arab Emirates
United Kingdom
United States of America
Burkina Faso
Venezuela, Bolivarian Republic of
Viet Nam
Yugoslav SFR
Congo, Democratic Republic of
South Sudan

In [19]:
countryMatch = {
    'United States of America': 'USA',
    'Russian Federation': 'Russia',
    'Viet Nam': 'Vietnam',
    'Syrian Arab Republic': 'Syria',
    "Korea, Democratic People's Republic of": 'North Korea',
    'Korea, Republic of': 'South Korea',
    'Congo, Democratic Republic of': 'Congo',
    'United Kingdom': 'UK',
    'Russian Federation': 'Russia',
    'Sudan (former)': 'Sudan',
    'Macedonia TFYR': 'Macedonia',
    'Ethiopia PDR': 'Ethiopia',
}

In [20]:
total=0
for i in test['country']:
    total+=1
print(total)

8702

In [55]:
# convert country names to match Olympics database
for name in test['country'].iteritems():
    if name[1] in countryMatch:
        new = countryMatch.get(name[1])
        test['country'].replace(name[1], new, inplace=True)

In [56]:
test['country'].unique()

array(['Armenia', 'Afghanistan', 'Algeria', 'Argentina', 'Australia',
       'Austria', 'Bahamas', 'Bahrain', 'Barbados', 'Bermuda', 'Botswana',
       'Brazil', 'Bulgaria', 'Burundi', 'Cameroon', 'Canada', 'Sri Lanka',
       'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Cyprus', 'Azerbaijan',
       'Denmark', 'Dominican Republic', 'Belarus', 'Ecuador', 'Egypt',
       'Ethiopia', 'Estonia', 'Fiji', 'Finland', 'France', 'Djibouti',
       'Georgia', 'Gabon', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guyana', 'Haiti', 'Hungary', 'Croatia', 'India',
       'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Kazakhstan',
       'Jamaica', 'Japan', 'Jordan', 'Kyrgyzstan', 'Kenya', 'North Korea',
       'South Korea', 'Kuwait', 'Latvia', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mauritius', 'Mexico', 'Mongolia', 'Morocco',
       'Mozambique', 'Moldova', 'Namibia', 'Nepal', 'Netherlands',
       'Macedonia', 'New Zealand', 'Niger', 'Nigeria', 'Norway',
       'Pakistan', 'Panama', 'Czech Republic', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Eritrea', 'Qatar',
       'Zimbabwe', 'Romania', 'Russia', 'Saudi Arabia', 'Senegal',
       'Slovenia', 'Slovakia', 'South Africa', 'Spain', 'Sudan',
       'Suriname', 'Tajikistan', 'Sweden', 'Switzerland', 'Syria',
       'Thailand', 'Togo', 'Tonga', 'Tunisia', 'Turkey',
       'United Arab Emirates', 'Uganda', 'UK', 'Ukraine', 'USA',
       'Uruguay', 'Uzbekistan', 'Vietnam', 'Zambia', 'Belgium',
       'Luxembourg', 'Serbia', 'Montenegro', 'China'], dtype=object)

In [44]:
oly = pd.read_csv('countryMatchOlympics.csv', names='a', squeeze=True)

In [45]:
type(oly)

pandas.core.series.Series

In [46]:
delete = []
testlist = test['country'].unique()
for i in testlist:
    if i not in list(oly):
        delete.append(i)

In [47]:
len(delete)

71

In [48]:
'Yugoslav SFR' in delete

True

In [49]:
# cleans up country list to match Olympic dataset
for i in delete:
    test['country'].replace(i, np.nan, inplace=True)
test.dropna(axis=0, subset=['country'], inplace=True)

In [50]:
len(test['country'].unique())

122

In [57]:
test.columns

Index(['country', 'year', 'population', 'GDP'], dtype='object')

In [60]:
test['year'] = pd.to_datetime(test['year'], format='%Y')

In [61]:
test['year'].head()

0    1992-01-01
10   1993-01-01
20   1994-01-01
30   1995-01-01
40   1996-01-01
Name: year, dtype: datetime64[ns]

In [62]:
# test.to_csv("CountryYearPopGDP.csv", index=False)